[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
httpx = "*"

[dev-packages]
ruff = "*"
black = "*"
mypy = "*"
behave = "*"

[requires]
python_version = "3.8"

[scripts]
lint = """sh -c "
    black . \
    && ruff check . --fix
"
"""
test-static = """sh -c "
    black . --check \
    && ruff check .
"
"""
test-behave = "behave test/behave/features"
