[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
ruff = "*"
black = "*"
mypy = "*"

[requires]
python_version = "3.8"

[scripts]
lint = """sh -c "
    black . \
    && ruff check . --fix
"
"""
test-static = """sh -c "
    black . --check \
    && ruff check .
"
"""