[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
httpx = "*"

[dev-packages]
ruff = "*"
black = "*"
mypy = "*"
behave = "*"
pytest = "*"

[requires]
python_version = "3.8"

[scripts]
lint = """sh -c "
    black . \
    && ruff check . --fix \
    && mypy . --ignore-missing-imports
"
"""
test-static = """sh -c "
    black . --check \
    && ruff check . \
    && mypy . --ignore-missing-imports
"
"""
test-unit = "pytest test/unit"
test-behave = "behave test/behave/features"

